.superInput {
    border: 2px solid #009688FF;
    border-radius: 4px;
    margin: 2px;
}

.errorInput {
    border: 2px solid #ff0000;
    background: #eeadad;
    border-radius: 4px;
    margin: 2px;
}

.error {
    color: #c10d0d;
}